<div id="document">
	<div class="page" onkeypress="">
		<p class="text-end text-muted m-2">{{ document.text.length }} characters</p>
		<textarea placeholder="Enter your text..."
				  v-model="document.text"></textarea>
	</div>
</div>

@section scripts {
	<script>
		var vue = new Vue({
			el: '#document',
			data: {
				document: {
					id: '',
					text: '',
					title: ''
				}
			},
			methods: {
				convertToDocumentViewModel: function(){
					return {
						Title: 'Document',
						Text: this.document.text,
						Type: 'Text',
					}
				},
				loadDocument: function(){
					let self = this;
					$.ajax({
						type: 'GET',
						url: `@Url.Action("GetById", "Document")?documentId=${this.document.id}`,
						dataType: 'json',
						contentType: 'application/json; charset=utf-8',
						success: function(response){
							self.document.id = response.id;
							self.document.text = response.text;
							self.document.title= response.title;
						},
						error: function(){

						}
					})
				},
				saveDocument: function(){
					let self = this;
					const data = self.convertToDocumentViewModel();
					$.ajax({
						type: 'POST',
						url: '@Url.Action("Save", "Document")',
						dataType: 'json',
						data: JSON.stringify(data),
						contentType: 'application/json; charset=utf-8',
						success: function(){

						},
						error: function(error){

						},
						complete: function(){

						}
					});
				},
				getDocumentId: function(){
					let queryString = new URLSearchParams(window.location.search);

					return queryString.get('documentId');
				}
			},
			mounted: function(){
				this.document.id = this.getDocumentId();

				if(this.document.id){
					this.loadDocument();
				}
			}
		});

		document.addEventListener('keydown', e => {
		  if (e.ctrlKey && e.key === 's') {
			e.preventDefault();
			vue.saveDocument();
			console.log('CTRL + S');
		  }
		});
	</script>
}
